DJANGO_SECRET_KEY=django-insecure-sim-akreditasi-change-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
# Biarkan kosong untuk pakai SQLite lokal, isi connection string Postgres saat di Render/Cloud:
DATABASE_URL=

# Supabase Storage Credential
SUPABASE_URL=https://gwaeuzbbdawbekrmrvfd.supabase.co
SUPABASE_KEY=sb_publishable_Kij2JQk2QnGrLmic-vBQ2A_WR7OnawQ
SUPABASE_BUCKET=bukti-akreditasi
